@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Block styles */

a, button, input, textarea, select {
    all: unset;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, video {
    display: block;
    max-width: 100%;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 58px;
    color: white;
    width: 100%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    color: white;
}

h4 {
    font-weight: 500;
    font-size: 24px;
}

.white {
    color: white;
}

.black {
    color: black;
}

.grey {
    color: #737373;
}

.orange {
    color: #FA4A0C;
}

.pointer {
    cursor: pointer;
}

/* Texts styles */

.navbar-text {
    font-weight: 600;
    font-size: 16px;
}

/* Navbar */

.navbar {
    display: flex;
    background-color: white;
    height: 150px;
    align-items: center;
}

.left {
    display: flex;
    position: absolute;
    top: 26px;
    left: 70px;
    padding: 0 20px;
    justify-content: space-between;
}

.right {
    display: flex;
    position: absolute;
    top: 53px;
    right: 40px;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

.link {
    padding: 10px;
}

/* Screen */
.screen {
    display: flex;
    justify-content: center;
}

.screen-s1 {
    width: 100%;
    background-image: url(/src/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.screen__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0 146px 0;
    gap: 50px;
}

.screen__container__texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.screen__container__buttons {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.playstore, .appstore {
    display: flex;
    border-radius: 30px;
    padding: 16px 60px;
    cursor: pointer;
}

.playstore {
    background-color: #FA4A0C;
    box-shadow: 0px 10px 30px 0px #B7322733;
}

.appstore {
    border: 1px solid white;
}

.phones {
    display: flex;
    width: 550px;
    position: absolute;
    top: 480px;
}

/* Screen 2 */

.screen-s2 {
    display: flex;
    margin-top: 450px;
    flex-direction: column;
    align-items: center;
}

.line-text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 72px;
}

.line {
    border: 1px solid #E4E4E4;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
}

.texts {
    display: flex;
    width: 580px;
    flex-direction: column;
    justify-content: center;
}

/* Screen 3 */
.screen-s3 {
    width: 100%;
    background-image: url(/src/background-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pre-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    gap: 50px;
}

/* Screen 4 */
.screen-s4 {
    padding: 38px 115px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    gap: 48px;
}

.copywrite {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
}